<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>home</title>
    </head>
    <body>
        <h1>Hello!</h1>
        <ul>
            <li>
                sub: [[${subject}]]
            </li>
            <li>
                emailVerified: [[${emailVerified}]]
            </li>
            <li>
                preferredUsername: [[${preferredUsername}]]
            </li>
            <li>
                givenName: [[${givenName}]]
            </li>
            <li>
                familyName: [[${familyName}]]
            </li>
        </ul>
    </body>
</html>
